{%extends 'hh_app/base.html'%}

{% block content %}

<h3>ABOUT US</h3>
<p>Happier Hour is a website and application that allows users to find the best happy hour for you. Use our filters to find a happy hour at the perfect location and perfect time for a chill afternoon or celebration with friends. Also use our application to write reviews about some of your best and worst experiences! <br></p>

<br>
<br>

<h3>THE DEVELOPERS</h3><br>

<h4>Madi Gwynn</h4>
<p>She is a student at The University of Texas at Austin in the Master of Science in Information Technology and Management program. Her passion to develop this app came from her stuggle to find and discover amazing bar atmospheres, with tasty drinks at a DISCOUNT in new cities. She hopes to continue updating and improving the website and application to help fellow friends and happy hour enthusiasts.</p>

<h4>Brian Smith-Eitches</h4>
<p>He is a student at The University of Texas at Austin in the Master of Science in Information Technology and Management program. He loves learning new technologies, with a particular interest in Machine Learning, the Internet of Things, and Blockchain. He aims to utilize these technologies in a future Software development role, and potentially continue to work on the Happier Hour Project to create an actual production-level app.
</p>
{% endblock %}
