{%extends 'hh_app/base.html'%}

{% block content %}
<h3>My Bars</h3></br>
<table class='table'>
	<tr>
	  <th>Bar</th>
	  <th>Region</th>
	  <th>Add Happy Hours</th>
	  <th>View Happy Hours</th>
	  <th>Update</th>
	  <th>Delete</th>
	</tr>
	{% for b in bars %}
	<tr>
	  <td>{{ b.bar_name }}</td>
	  <td>{{ b.region}}</td>
	  <td>
	  		<a type="button" class="btn btn-secondary" href="{% url 'hh_app:hh_form' b.id%}">Add</a>
	  		<!-- <form action="{% url 'hh_app:hh_form' b.id%}" class="btn btn-secondary">
                <input type="submit" value="Add"/>
          	</form> -->
     </td>
     <td>
     		<a type="button" class="btn btn-secondary" href="{% url 'hh_app:bar_hhs' b.id%}">View</a>
	  		<!-- <form action="{% url 'hh_app:bar_hhs' b.id%}" class="btn btn-secondary">
                <input type="submit" value="View"/>
          	</form> -->
     </td>
     <td>
     		<a type="button" class="btn btn-secondary" href="{% url 'hh_app:update_bar' b.id%}">Update</a>
	  		<!-- <form action="{% url 'hh_app:update_bar' b.id%}" class="btn btn-secondary">
                <input type="submit" value="Update"/>
          	</form> -->
     </td>
     <td>
     		<a type="button" class="btn btn-secondary" href="{% url 'hh_app:bar_delete' b.id%}">Delete</a>
	  		<!-- <form action="#" class="btn btn-secondary">
                <input type="submit" value="Delete"/>
          	</form> -->
     </td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
