{%extends 'hh_app/base.html'%}

{% block content %}

<div class="columns">
{% for b in bars %}
	<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
	  <div class="card-header">{{ b.bar_name }}</div>
	  <div class="card-body">
	    <h4 class="card-title">{%for hh in b.happyhour_set.all %}{{hh.day_of_week}} {%endfor%}</h4>
	    {% if b.happyhour_set.all|length == 0 %}
	    <h4 class="card-title">No Happy Hours Currently</h4>
	    {% endif %}
	    <p class="card-text"><b style="color: #4BBF73">{{ b.region }}</b> <br> {{ b.street_address }} <br> {{ b.avg_count }}<br></p>
	    <a type="button" class="btn btn-secondary" href="{% url 'hh_app:bar_hhs' b.id%}">View HappyHours</a>
	  </div>
	</div>
{% endfor %}
</div>

{% endblock %}