{%extends 'hh_app/home.html'%}

{%block content%}
<h3>Happy Hour Results</h3>
<br>

<div class="container ">
	
	{% for hh in hh_list %}
		<div class="card text-white bg-primary mb-3" style="">
		  <div class="card-header">{{hh.day}} from {{hh.start_time}} to {{hh.end_time}}</div>
		  <div class="card-body">
		    <h2 class="card-title">{{hh.bar.bar_name}} - {{hh.bar.region.region_name}}</h4>
		    <h4 class="card-title">{{hh.bar.street_address}}</h2>
		    <p class="card-text">Drinks? {% if hh.drinks %}YES{%else%}NO{%endif%}</p>
		    <p class="card-text">Food? {% if hh.food %}YES{%else%}NO{%endif%}</p>
		    {% for feature in hh.bar.features.all%}
		    <p class="card-text">{{feature.feature_title}} - {{feature.description}}</p>
		    {% endfor %}
		    <div>
		    	<button type="button" class="btn btn-secondary" href="{{hh.menu_pdf}}">Menu</button>
		    	<button type="button" class="btn btn-success" href="{% url 'hh_app:bar_reviews' hh.bar.id %}">See all Reviews</button>	
		    </div>
		  </div>
		</div>
	{% endfor %}

</div>
{%endblock%}
